<form action="/send-message" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="subject"><b>Subject</b></label>
    <input type="text" placeholder="Just wanna say Hi" name="subject">
  
    <label for="message"><b>Message</b></label>
    <textarea style='resize: none;' placeholder="I like your ......." name="message" cols="25" rows="5"></textarea>
  
    <input type="submit" value="Send" class="btn">
  
</form>